@css-prefix:x-sheet;
@icon-size: 18px;

// 工作界面
.@{css-prefix}-work {
  width: 100%;
  height: 100%;
}
.@{css-prefix}-work-body {
  width: 100%;
  height: 100%;
  background: #e8e8e8;
  position: relative;
}
.@{css-prefix}-powered-by-tips {
  position: absolute;
  right: 50px;
  bottom: 50px;
  z-index: 1;
  border-radius: 10px;
  padding: 20px;
  color: #ffffff;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.8);
  pointer-events: none;
}

// sheet view
.@{css-prefix}-sheet-view {
  width: 100%;
  height: 100%;
}

// 工作表
.@{css-prefix}-sheet {
  width: 100%;
  height: 100%;
  background: #ffffff;
}

// 表格
.@{css-prefix}-table {
  width: 100%;
  height: 100%;
  position: relative;
}
.@{css-prefix}-table-canvas {
  display: block;
  position: absolute; /** flex bug chrome 79.0.3945.88 **/
  left: 0;
  top: 0;
}
.@{css-prefix}-screen {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.@{css-prefix}-screen-element {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
.@{css-prefix}-screen-element-lt {
  border-right: 1px solid #42a642;
  border-bottom: 1px solid #42a642;
}
.@{css-prefix}-screen-element-t {
  border-bottom: 1px solid #42a642;
}
.@{css-prefix}-screen-element-l {
  border-right: 1px solid #42a642;
}

// 表格编辑框
.@{css-prefix}-table-edit {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  cursor: default;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  background: #ffffff;
}
.@{css-prefix}-table-edit-input {
  width: max-content;
  min-width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  font-family: Arial, sans-serif;
  outline: none;
  font-size: 13px;
  background: #ffffff;
}

// 表格高光
.@{css-prefix}-table-y-height-light {
  width: 100px;
  height: 50px;
  background: rgba(206, 206, 206, 0.37);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-right: 1px solid #42a642;
}
.@{css-prefix}-table-x-height-light {
  width: 100px;
  height: 50px;
  background: rgba(206, 206, 206, 0.37);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-bottom: 1px solid #42a642;
}

// 行高调整
.@{css-prefix}-re-sizer-vertical {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  z-index: 2;
}
.@{css-prefix}-re-sizer-vertical .@{css-prefix}-re-sizer-hover {
  background: rgba(111, 255, 75, 0.25);
}
.@{css-prefix}-re-sizer-vertical .@{css-prefix}-re-sizer-line {
  border-bottom: 2px dashed #42a642;
  box-sizing: border-box;
  position: absolute;
  height: 100%;
  bottom: 0;
}

// 列宽调整
.@{css-prefix}-re-sizer-horizontal {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  z-index: 2;
}
.@{css-prefix}-re-sizer-horizontal .@{css-prefix}-re-sizer-hover {
  background: rgba(111, 255, 75, 0.25);
}
.@{css-prefix}-re-sizer-horizontal .@{css-prefix}-re-sizer-line {
  border-right: 2px dashed #42a642;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  right: 0;
}

// 自动填充
.@{css-prefix}-autofill {
  width: 0;
  height: 0;
  position: absolute;
}
.@{css-prefix}-autofill-area {
  border: 2px dashed #42a642;
  background: rgba(181, 202, 242, 0.1);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

// 粘贴板
@keyframes clipboard-stroke-dashoffset-animation {
  to { stroke-dashoffset: 19; }
}
.@{css-prefix}-clipboard {
  position: absolute;
  display: block;
  width: 197.8px;
  height: 97.8px;
  left: 599.2px;
  top: 200px;
}
.@{css-prefix}-clipboard-stroked {
  display: block;
  stroke: #4b89ff;
  fill: transparent;
  stroke-width: 3;
  stroke-dasharray: 10;
  animation: clipboard-stroke-dashoffset-animation 0.5s forwards infinite linear;
}

// 选择框
.@{css-prefix}-selector {
  width: 0;
  height: 0;
  position: absolute;
}
.@{css-prefix}-selector-area {
  border: 3px solid #42a642;
  background: rgba(181, 202, 242, 0.1);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.@{css-prefix}-selector-corner {
  pointer-events: auto;
  position: absolute;
  font-size: 0;
  height: 5px;
  width: 5px;
  border: 2px solid #ffffff;
  background: #42a642;
}

// 样式复制
@keyframes copy-style-stroked-dashoffset-animation-top {
  to { stroke-dashoffset: 20; }
}
@keyframes copy-style-stroked-dashoffset-animation-left {
  to { stroke-dashoffset: -20; }
}
@keyframes copy-style-stroked-dashoffset-animation-bottom {
  to { stroke-dashoffset: -20; }
}
@keyframes copy-style-stroked-dashoffset-animation-right {
  to { stroke-dashoffset: 20; }
}
.@{css-prefix}-copy-style {
  width: 0;
  height: 0;
  position: absolute;
}
.@{css-prefix}-copy-style-mask {
  border: 3px solid #42a642;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.@{css-prefix}-copy-style-svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.@{css-prefix}-copy-style-stroked-top {
  display: block;
  stroke: #ffffff;
  stroke-width: 7;
  stroke-dasharray: 10;
  animation: copy-style-stroked-dashoffset-animation-top 0.5s forwards infinite linear;
}
.@{css-prefix}-copy-style-stroked-left {
  display: block;
  stroke: #ffffff;
  stroke-width: 6;
  stroke-dasharray: 10;
  animation: copy-style-stroked-dashoffset-animation-left 0.5s forwards infinite linear;
}
.@{css-prefix}-copy-style-stroked-bottom {
  display: block;
  stroke: #ffffff;
  stroke-width: 6;
  stroke-dasharray: 10;
  animation: copy-style-stroked-dashoffset-animation-bottom 0.5s forwards infinite linear;
}
.@{css-prefix}-copy-style-stroked-right {
  display: block;
  stroke: #ffffff;
  stroke-width: 6;
  stroke-dasharray: 10;
  animation: copy-style-stroked-dashoffset-animation-right 0.5s forwards infinite linear;
}

// sheet 选项卡
.@{css-prefix}-sheet-switch-tab {
  height: 25px;
  width: 100%;
  background: #e8e8e8;
}
.@{css-prefix}-switch-tab-last-btn {
  height: 100%;
  width: 30px;
  float: left;
  background: url("../assets/svg/arrow-1-1.svg") center center no-repeat;
  background-size: 50% 50%;
  cursor: pointer;
}
.@{css-prefix}-switch-tab-next-btn {
  height: 100%;
  width: 30px;
  float: left;
  background: url("../assets/svg/arrow-1-2.svg") center center no-repeat;
  background-size: 50% 50%;
  cursor: pointer;
}
.@{css-prefix}-sheet-tab-content {
  height: 100%;
  width: auto;
  max-width: calc(100% - 85px);
  float: left;
  overflow: hidden;
}
.@{css-prefix}-sheet-tab-tabs {
  width: max-content;
  height: 100%;
}
.@{css-prefix}-sheet-tab-plus{
  height: 100%;
  width: 25px;
  background: url("../assets/svg/plus.svg") center center no-repeat;
  background-size: 80% 80%;
  float: left;
  cursor: pointer;
}
.@{css-prefix}-sheet-tab {
  height: 100%;
  padding: 0 20px 0 20px;
  box-sizing: border-box;
  background: #d0d0d0;
  float: left;
  text-align: center;
  line-height: 25px;
  font-size: 12px;
  font-weight: bold;
  border-left: 1px solid #ccc;
  color: #787878;
  cursor: pointer;
}
.@{css-prefix}-sheet-tab:first-child {
  border-left: none;
}
.@{css-prefix}-sheet-tab.active {
  background: #ffffff;
  color: #42a642;
  border-bottom: 2px solid #42a642;
}

// 底部菜单
.@{css-prefix}-bottom-menu {
  height: 30px;
  background: #e3e3e3;
}
.@{css-prefix}-bottom-sum {
  height: 100%;
  float: left;
  line-height: 30px;
  margin-left: 20px;
  margin-right: 8px;
  font-size: 13px;
  font-weight: bold;
}
.@{css-prefix}-bottom-avg {
  height: 100%;
  float: left;
  line-height: 30px;
  margin-right: 8px;
  font-size: 13px;
  font-weight: bold;
}
.@{css-prefix}-bottom-number {
  height: 100%;
  float: left;
  line-height: 30px;
  margin-right: 8px;
  font-size: 13px;
  font-weight: bold;
}

// icon 图标
.@{css-prefix}-icon {
  text-align: center;
  vertical-align: middle;
  user-select: none;
  overflow: hidden;
  position: relative;
  display: inline-block;
}
.@{css-prefix}-icon-img {
  background-image: url('../assets/img/sprite.svg');
  width: @icon-size;
  height: @icon-size;
}
.@{css-prefix}-icon-img.undo {
  background-position: 0 0;
}
.@{css-prefix}-icon-img.redo {
  background-position: -1 * @icon-size 0;
}
.@{css-prefix}-icon-img.point-format {
  background-position: -3 * @icon-size 0;
}
.@{css-prefix}-icon-img.clear-format {
  background-position: -4 * @icon-size 0;
}
.@{css-prefix}-icon-img.arrow-down {
  background-position: -7 * @icon-size -1 * @icon-size - 1;
}
.@{css-prefix}-icon-img.font-bold {
  background-position: -5 * @icon-size 0;
}
.@{css-prefix}-icon-img.font-italic {
  background-position: -6 * @icon-size 0;
}
.@{css-prefix}-icon-img.under-line {
  background-position: -7 * @icon-size 0;
}
.@{css-prefix}-icon-img.font-strike {
  background-position: -8 * @icon-size 0;
}
.@{css-prefix}-icon-img.color {
  background-position: -9 * @icon-size 0;
}
.@{css-prefix}-icon-img.fill-color {
  background-position: -10 * @icon-size 0;
}
.@{css-prefix}-icon-img.border {
  background-position: 0 -2 * @icon-size;
}
.@{css-prefix}-icon-img.merge {
  background-position: -11 * @icon-size 0;
}
.@{css-prefix}-icon-img.align-left {
  background-position: -12 * @icon-size 0;
}
.@{css-prefix}-icon-img.align-center {
  background-position: -13 * @icon-size 0;
}
.@{css-prefix}-icon-img.align-right {
  background-position: 0 -1 * @icon-size;
}
.@{css-prefix}-icon-img.align-top {
  background-position: -1 * @icon-size -1 * @icon-size;
}
.@{css-prefix}-icon-img.align-middle {
  background-position: -2 * @icon-size -1 * @icon-size;
}
.@{css-prefix}-icon-img.align-bottom {
  background-position: -3 * @icon-size -1 * @icon-size;
}
.@{css-prefix}-icon-img.freeze {
  background-position: -11 * @icon-size -1 * @icon-size;
}
.@{css-prefix}-icon-img.filter {
  background-position: -5 * @icon-size -1 * @icon-size;
}
.@{css-prefix}-icon-img.functions {
  background-position: -6 * @icon-size -1 * @icon-size;
}
.@{css-prefix}-icon-img.clear-color {
  background-image: url('../assets/svg/material_common_sprite157_grey_medium.svg');
  background-repeat: no-repeat;
  background-position: 0 -148px;
}
.@{css-prefix}-icon-img.plus {
  background-image: url('../assets/svg/material_common_sprite157_grey_medium.svg');
  background-repeat: no-repeat;
  background-position: 0 -2839px;
}
.@{css-prefix}-icon-img.checked {
  background-image: url('../assets/img/checkmark.png');
  background-repeat: no-repeat;
  background-position: left center;
}
.@{css-prefix}-icon-img.checked-dark {
  background-image: url('../assets/svg/checked-dark.svg');
  background-repeat: no-repeat;
  background-position: center center;
}
.@{css-prefix}-icon-img.checked-light {
  background-image: url('../assets/svg/checked-light.svg');
  background-repeat: no-repeat;
  background-position: center center;
}
.@{css-prefix}-icon-img.border1 {
  background-position: 0 -2 * @icon-size;
}
.@{css-prefix}-icon-img.border2 {
  background-position: -@icon-size -2 * @icon-size;
}
.@{css-prefix}-icon-img.border3 {
  background-position: -2 * @icon-size -2 * @icon-size;
}
.@{css-prefix}-icon-img.border4 {
  background-position: -3 * @icon-size -2 * @icon-size;
}
.@{css-prefix}-icon-img.border5 {
  background-position: -4 * @icon-size -2 * @icon-size;
}
.@{css-prefix}-icon-img.border6 {
  background-position: -5 * @icon-size -2 * @icon-size;
}
.@{css-prefix}-icon-img.border7 {
  background-position: -6 * @icon-size -2 * @icon-size;
}
.@{css-prefix}-icon-img.border8 {
  background-position: -7 * @icon-size -2 * @icon-size;
}
.@{css-prefix}-icon-img.border9 {
  background-position: -8 * @icon-size -2 * @icon-size;
}
.@{css-prefix}-icon-img.border10 {
  background-position: -9 * @icon-size -2 * @icon-size;
}
.@{css-prefix}-icon-img.line1 {
  background-image: url('../assets/svg/line/line1.svg');
  background-repeat: no-repeat;
  background-position: left center;
}
.@{css-prefix}-icon-img.line2 {
  background-image: url('../assets/svg/line/line2.svg');
  background-repeat: no-repeat;
  background-position: left center;
}
.@{css-prefix}-icon-img.line3 {
  background-image: url('../assets/svg/line/line3.svg');
  background-repeat: no-repeat;
  background-position: left center;
}
.@{css-prefix}-icon-img.line4 {
  background-image: url('../assets/svg/line/line4.svg');
  background-repeat: no-repeat;
  background-position: left center;
}
.@{css-prefix}-icon-img.line5 {
  background-image: url('../assets/svg/line/line5.svg');
  background-repeat: no-repeat;
  background-position: left center;
}
.@{css-prefix}-icon-img.line6 {
  background-image: url('../assets/svg/line/line6.svg');
  background-repeat: no-repeat;
  background-position: left center;
}
.@{css-prefix}-icon-img.border-color {
  background-position: -10 * @icon-size -2 * @icon-size;
}
.@{css-prefix}-icon-img.border-type {
  background-position: -11 * @icon-size -2 * @icon-size;
}
.@{css-prefix}-icon-img.text-wrap {
  background-position: -4 * @icon-size -1 * @icon-size;
}
.@{css-prefix}-icon-img.truncate {
  background-position: -8 * @icon-size -3 * @icon-size;
}
.@{css-prefix}-icon-img.overflow {
  background-position: -9 * @icon-size -3 * @icon-size;
}
.@{css-prefix}-icon-img.wrap {
  background-position: -10 * @icon-size -3 * @icon-size;
}

// 工具菜单激活 状态/关闭状态
.@{css-prefix}-tools-undo {
  opacity: 0.5;
}
.@{css-prefix}-tools-undo.active {
  opacity: 1;
}
.@{css-prefix}-tools-redo {
  opacity: 0.5;
}
.@{css-prefix}-tools-redo.active {
  opacity: 1;
}
.@{css-prefix}-tools-point-format {
  background: transparent;
}
.@{css-prefix}-tools-point-format.active {
  background: #d5d5d5;
}
.@{css-prefix}-tools-font-bold {}
.@{css-prefix}-tools-font-bold.active {
  background: #e1e1e1;
}
.@{css-prefix}-tools-font-italic {}
.@{css-prefix}-tools-font-italic.active {
  background: #e1e1e1;
}
.@{css-prefix}-tools-under-line {}
.@{css-prefix}-tools-under-line.active {
  background: #e1e1e1;
}
.@{css-prefix}-tools-font-strike {}
.@{css-prefix}-tools-font-strike.active {
  background: #e1e1e1;
}

// 工具菜单
.@{css-prefix}-tools-menu {
  height: 45px;
  background: #eeeeee;
  display: flex;
  align-items: center;
}
.@{css-prefix}-tools-divider {
  display: inline-block;
  border-right: 1px solid #cecece;
  width: 0;
  vertical-align: middle;
  height: 18px;
}
.@{css-prefix}-tools-item {
  margin: 0 5px;
  padding: 5px;
  border-radius: 2px;
  cursor: pointer;
}
.@{css-prefix}-tools-item:hover {
  background: #e4e4e4;
}
.@{css-prefix}-tools-drop-down-item {
  position: relative;
}
.@{css-prefix}-tools-drop-down-item-mark {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -9px;
}
.@{css-prefix}-tools-drop-down-item-title {
  display: inline-block;
  color: #000000;
  font-size: 14px;
  font-family: 'Lato', 'Source Sans Pro', Roboto, Helvetica, Arial, sans-serif;
  vertical-align: middle;
  padding-right: 20px;
}
.@{css-prefix}-tools-toggle-item {}

// 格式化工具上下文菜单
.@{css-prefix}-format-context-menu {
  background: #ffffff;
}
.@{css-prefix}-format-context-menu-item {
  overflow: hidden;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 13px;
  padding: 3px 10px 3px 10px;
}
.@{css-prefix}-format-context-menu-item-title {
  float: left;
  line-height: 20px;
  margin-right: 40px;
  font-size: 14px;
}
.@{css-prefix}-format-context-menu-item-desc {
  float: right;
  color: #4f4f4f;
  line-height: 20px;
  font-size: 13px;
  font-weight: bold;
}
.@{css-prefix}-format-context-menu-item-icon {
  float: left;
  margin: 2px 10px 2px 0;
  opacity: 0;
}
.@{css-prefix}-format-context-menu-item.active .@{css-prefix}-format-context-menu-item-icon {
  opacity: 1;
}

// 字体工具上下文菜单
.@{css-prefix}-font-context-menu {
  background: #ffffff;
}
.@{css-prefix}-font-context-menu-item {
  overflow: hidden;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 13px;
  padding: 5px;
}
.@{css-prefix}-font-context-menu-item-title {
  float: left;
  line-height: 20px;
  margin-right: 20px;
  font-size: 15px;
}
.@{css-prefix}-font-context-menu-item-desc {
  float: right;
  color: #4f4f4f;
  line-height: 20px;
}
.@{css-prefix}-font-context-menu-item-icon {
  float: left;
  margin: 2px 10px 2px 0;
  opacity: 0;
}
.@{css-prefix}-font-context-menu-item.active .@{css-prefix}-font-context-menu-item-icon {
  opacity: 1;
}

// 字体大小工具上下文菜单
.@{css-prefix}-font-size-context-menu {
  background: #ffffff;
}
.@{css-prefix}-font-size-context-menu-item {
  overflow: hidden;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 13px;
  padding: 5px;
}
.@{css-prefix}-font-size-context-menu-item-title {
  float: left;
  line-height: 20px;
  margin-right: 20px;
  font-size: 15px;
  width: 100%;
}

// 字体颜色工具上下文菜单
.@{css-prefix}-font-color-context-menu {
  background: #ffffff;
}
.@{css-prefix}-font-color-context-menu-item {
  overflow: hidden;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 13px;
  padding: 3px 10px 3px 10px;
}
.@{css-prefix}-font-color-context-menu-item-icon {
  float: left;
  margin: 2px 10px 2px 0;
}
.@{css-prefix}-font-color-context-menu-color-title {
  margin-bottom: 5px;
}
.@{css-prefix}-font-color-context-menu-item-title {
  float: left;
  line-height: 20px;
  margin-right: 40px;
  font-size: 14px;
}

// 填充颜色工具上下文菜单
.@{css-prefix}-fill-color-context-menu {
  background: #ffffff;
}
.@{css-prefix}-fill-color-context-menu-item {
  overflow: hidden;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 13px;
  padding: 3px 10px 3px 10px;
}
.@{css-prefix}-fill-color-context-menu-item-icon {
  float: left;
  margin: 2px 10px 2px 0;
}
.@{css-prefix}-fill-color-context-menu-color-title {
  margin-bottom: 5px;
}
.@{css-prefix}-fill-color-context-menu-item-title {
  float: left;
  line-height: 20px;
  margin-right: 40px;
  font-size: 14px;
}

// 边框工具上下文菜单
.@{css-prefix}-border-type-context-menu {
  background: #ffffff;
}
.@{css-prefix}-border-type-context-menu-item {
  overflow: hidden;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 13px;
  padding: 3px 10px 3px 10px;
}
.@{css-prefix}-border-type-context-menu-item-icon {
  float: left;
  margin: 2px 10px 2px 0;
}
.@{css-prefix}-border-type-context-menu-color-title {
  margin-bottom: 5px;
}
.@{css-prefix}-border-type-context-menu-item-title {
  float: left;
  line-height: 20px;
  margin-right: 40px;
  font-size: 14px;
}
.@{css-prefix}-border-type-context-menu-type-icon-line {
  display: flex;
}

// 边框颜色工具上下文菜单
.@{css-prefix}-border-color-context-menu {
  background: #ffffff;
}
.@{css-prefix}-border-color-context-menu-item {
  overflow: hidden;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 13px;
  padding: 3px 10px 3px 10px;
}
.@{css-prefix}-border-color-context-menu-item-icon {
  float: left;
  margin: 2px 10px 2px 0;
}
.@{css-prefix}-border-color-context-menu-color-title {
  margin-bottom: 5px;
}
.@{css-prefix}-border-color-context-menu-item-title {
  float: left;
  line-height: 20px;
  margin-right: 40px;
  font-size: 14px;
}

// 边框类型工具上下文菜单
.@{css-prefix}-line-type-context-menu {
  background: #ffffff;
}
.@{css-prefix}-line-type-context-menu-item {
  overflow: hidden;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 13px;
  padding: 5px;
}
.@{css-prefix}-line-type-context-menu-item-title {
  float: left;
  line-height: 20px;
  margin-right: 20px;
  font-size: 15px;
}
.@{css-prefix}-line-type-context-menu-item-desc {
  float: right;
  color: #4f4f4f;
  line-height: 20px;
}
.@{css-prefix}-line-type-context-menu-item-icon {
  float: left;
  margin: 2px 10px 2px 0;
  opacity: 0;
}
.@{css-prefix}-line-type-context-menu-item.active .@{css-prefix}-line-type-context-menu-item-icon {
  opacity: 1;
}

// 水平对齐类型工具上下文菜单
.@{css-prefix}-horizontal-type-context-menu {
  background: #ffffff;
}
.@{css-prefix}-horizontal-type-context-menu-item {
  overflow: hidden;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 13px;
  padding: 3px 10px 3px 10px;
}
.@{css-prefix}-horizontal-type-context-menu-item-icon {
  float: left;
  margin: 2px 10px 2px 0;
}
.@{css-prefix}-horizontal-type-context-menu-color-title {
  margin-bottom: 5px;
}
.@{css-prefix}-horizontal-type-context-menu-item-title {
  float: left;
  line-height: 20px;
  margin-right: 40px;
  font-size: 14px;
}
.@{css-prefix}-horizontal-type-context-menu-type-icon-line {
  display: flex;
}

// 垂直对齐类型工具上下文菜单
.@{css-prefix}-vertical-type-context-menu {
  background: #ffffff;
}
.@{css-prefix}-vertical-type-context-menu-item {
  overflow: hidden;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 13px;
  padding: 3px 10px 3px 10px;
}
.@{css-prefix}-vertical-type-context-menu-item-icon {
  float: left;
  margin: 2px 10px 2px 0;
}
.@{css-prefix}-vertical-type-context-menu-color-title {
  margin-bottom: 5px;
}
.@{css-prefix}-vertical-type-context-menu-item-title {
  float: left;
  line-height: 20px;
  margin-right: 40px;
  font-size: 14px;
}
.@{css-prefix}-vertical-type-context-menu-type-icon-line {
  display: flex;
}

// 自动换行工具上下文菜单
.@{css-prefix}-text-wrapping-context-menu {
  background: #ffffff;
}
.@{css-prefix}-text-wrapping-context-menu-item {
  overflow: hidden;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 13px;
  padding: 3px 10px 3px 10px;
}
.@{css-prefix}-text-wrapping-context-menu-item-icon {
  float: left;
  margin: 2px 10px 2px 0;
}
.@{css-prefix}-text-wrapping-context-menu-color-title {
  margin-bottom: 5px;
}
.@{css-prefix}-text-wrapping-context-menu-item-title {
  float: left;
  line-height: 20px;
  margin-right: 40px;
  font-size: 14px;
}
.@{css-prefix}-text-wrapping-context-menu-type-icon-line {
  display: flex;
}

// 头部操作栏
.@{css-prefix}-option {
  overflow: hidden;
  background: #fbfbfb;
}
.@{css-prefix}-option-left {
  float: left;
  padding: 10px;
}
.@{css-prefix}-option-right {
  float: left;
  padding: 5px;
}
.@{css-prefix}-option-logo {
  background-image: url('../assets/img/material_common_sprite82.svg');
  background-repeat: no-repeat;
  background-position: 0 -3910px;
  width: 40px;
  height: 40px;
}
.@{css-prefix}-option-title {
  color: #787878;
  font-size: 18px;
}
.@{css-prefix}-option-box {
  overflow: hidden;
  margin-top: 5px;
}
.@{css-prefix}-option-item {
  float: left;
  margin-right: 10px;
  font-size: 15px;
  padding: 4px 6px 4px 6px;
  cursor: pointer;
  border-radius: 2px;
}
.@{css-prefix}-option-item:hover {
  background: #e8e8e8;
}
